.customLink {
  color: #9bb0a8;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #edf1ea;
  }
}
