.buttonLink {
  font-size: 14px;
  font-weight: 500;
  border-radius: 16px;

  &--contained {
    color: #fff;
    padding: 12px 24px;
    background: linear-gradient(135deg, #0f3d2e, #118856);

    &:hover {
      transform: translateY(-3px);
      transition: transform 0.3s ease;
    }
  }

  &--outlined {
    padding: 12px 24px;
    background-color: transparent;
    border: 1px solid #1d353099;
    color: #fff;

    &:hover {
      background-color: #0a4457;
    }
  }

  &--ghost {
    padding: 0px;
    background-color: transparent;
    border: none;
    color: #9bb0a8;

    &:hover {
      color: #fff;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 500;

    &--contained,
    &--outlined {
      padding: 12px 24px;
    }

    &--ghost {
      padding: 0px;
    }
  }
}
