.boxButton {
    width: 270px;
    height: 44px;
    background-color: #fff;
    border-radius: 20px;
    border: solid 3px #3140358a;
    cursor: pointer;
}

.textButton {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    font: 600 20px 'Baskervville', serif;
    color: #314035f5;
}

.boxButton:hover {
    border: solid 2px #2b322bde;
    background-color: #596959d9;
}

.boxButton:hover .textButton {
    color: #f3f3f3;
    font: 200 21px 'Baskervville', serif;
}