#clear {
    background: #f3f3f3;
}

.bannerCenter {
    background-color: #2b322bf0;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 20%;
}

.containerFormContact {
    background-color: #7c877c;
    width: 600px;
    height: 650px;
    border-radius: 2px;
}