#clear {
    background: #f3f3f3;
}

.backHome {
    position: absolute;
    top: 43px;
    left: 37px;
    width: 55px;
    height: 55px;
    transform: rotate(270deg);
}

.bannerCenter {
    background-color: #2b322bf0;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.containerFormContact {
    background-color: #7c877c;
    width: 600px;
    height: 635px;
    border-radius: 2px;
    margin-right: 34%;
    margin-top: 50px;
    position: absolute;
}

.titleContact {
    font: 100 60px 'Allura', cursive;
    color: #5a5f5a;
    position: absolute;
    top: -97px;
    width: 600px;
    margin-right: 34%;
}

.containerContact {
    left: 63%;
    position: absolute;
    display: flex;
    top: -54px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.titleContactIcone {
    font: 100 60px 'Allura', cursive;
    color: #5a5f5a;
    height: 55px;
}

.subtitleContact,
.instruction {
    color: #eaeaea;
    font: 100 22px 'Allura', cursive;
}

.subtitleContactForm {
    width: 95%;
    margin: auto;
}

.containerIcone {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 110px;
    align-items: flex-end;
}

.formulaire {
    width: 85%;
    margin: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.labelContact {
    font: 100 21px 'Buda', serif;
    color: #e8f0ee;
    margin-top: 30px;
    width: 100%;
}

.inputContact {
    height: 32px;
}

.textareaContact {
    height: 160px;
}

.inputContact,
.textareaContact {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #f8fbfa;
}

.submitButton {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin-top: 30px;
    color: #363d36;
    background-color: #f8fbfa;
    font: 400 18px 'Buda', serif;
    cursor: pointer;
}

.submitButton:active {
    color: #f8fbfa;
    background-color: #363d36;
    border: solid 1px #f8fbfab2;
}

.iconeContact {
    width: 60px;
    height: 60px;
}

.crimeBanner {
    position: absolute;
    z-index: 3;
    height: 30px;
}

.InProgress1 {
    top: 301px;
    left: -148px;
    transform: rotate(344deg);
}

.InProgress2 {
    top: 350px;
    left: -117px;
    transform: rotate(31deg);
}

.iconentext {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100px;
    align-items: flex-start;
}