.containerDescriptionProject {
    width: 100%;
}

.title {
    position: relative;
    top: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerTitle {
    width: 83%;
    height: 40px;
    position: absolute;
}

.logoTitle {
    position: absolute;
    width: 20%;
    height: 130px;
}

.descriptionProject {
    width: 80%;
    height: 1600px;
    margin: auto;
    background-color: #444c44;
    opacity: 3%;
    margin-top: 350px;
}

.containerFooter {
    height: 70px;
}

.containerFooterScroll {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 70px;
    width: 99%;
    opacity: 60%;
    bottom: 71px;
}

.footerProject {
    width: 100%;
    height: 70px;
    background-color: #444c44;
    opacity: 60%;
    z-index: 1;
}

.textProject {
    width: 80%;
    margin: auto;
}

p {
    font: 200 19px 'Roboto', sans-serif;
    color: black;
}