.textFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    opacity: 80%;
}

.designed {
    font: 20px 'Baskervville', serif;
    color: #ffffff;
}

.rights {
    color: #ffffff;
    font: 100 15px 'Roboto', sans-serif;
}