.box {
    margin-bottom: 25px;
}

.ul {
    width: 80%;
    height: auto;
    margin: auto;
    row-gap: 6px;
    background-color: #fff;
}

.cellItem {
    background-color: #2B322B;
}

.linkImg:hover {
    opacity: 20%;
}