.box {
    margin-bottom: 45px;
}

.ul {
    /* width: 80%; */
    height: auto;
    margin: auto;
    row-gap: 20px;
    column-count: 3;
}

.linkImg,
.cellItem {
    object-fit: cover;
    border-radius: 5px;
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
}

.linkImg:hover {
    filter: brightness(0.3);
}

.titleLink {
    pointer-events: none;
    color: #f3f3f3;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 38%;
    font: 400 26px 'Baskervville', serif;
    text-shadow: 2px 2px 5px #9fcb9f;
    background-color: #1d211eba;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
}

.cellLink:hover~.titleLink {
    opacity: 100%;
}

.titleLink::before {
    pointer-events: auto;
}


/* .box {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
} */


/* media queries pour mobile (basé sur iphone 12 pro) */

@media (max-width: 851px) {
    .box {
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: 1fr;
    }
}