.banner {
    width: 100%;
    height: 70px;
    background-color: #314035a3;
    z-index: 1;
}

#ancreMenu {
    position: absolute;
    top: 0;
    width: 100%;
}

.containerName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 42%;
    height: 120px;
    opacity: 80%;
}

.name {
    height: 48px;
    color: #f5f5f5;
    font: 500 53px 'Allura', cursive;
    letter-spacing: 2pt;
}

.job {
    font: 400 26px 'Baskervville', serif;
    padding-left: 220px;
}


/* media queries pour tablette (basé sur ipad air) */

@media (max-width: 1380px) {
    .job {
        padding-left: 112px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1180px) {
    .containerName {
        width: 48%;
        height: 121px;
    }
    .name {
        height: 34px;
        font-size: 39px;
        letter-spacing: 1pt;
    }
    .job {
        font-size: 22px;
        padding-left: 90px;
    }
}


/* media queries pour mobile (basé sur iphone 12 pro) */

@media (max-width: 849px) {
    .containerName {
        width: 79%;
        height: 80px;
        margin: auto;
        justify-content: flex-end
    }
    .name {
        height: 25px;
        font-size: 35px;
        letter-spacing: 1pt;
    }
    .job {
        font-size: 20px;
        padding-left: 90px;
    }
}