#darkbackground {
    background: #2B322B;
}

#positionHeaderHome {
    position: fixed;
    top: 0;
}

#positionFooterHome {
    position: fixed;
    bottom: 0;
}

.boxIdentity {
    display: flex;
    justify-content: center;
}

.containerPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: #f3f3f33b;
    z-index: 0;
}

.arrow,
.arrowUp {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    bottom: 100px;
    left: 48%;
}

.arrowUp {
    margin-bottom: 110px;
}

.upPageProjects {
    width: 100%;
    height: 130px;
}

.nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 45%;
    height: 70px;
}

#default {
    color: #ffffff;
}

#scrolled {
    color: #314035;
}


/* media queries pour tablette (basé sur ipad air) */

@media (max-width: 1180px) {
    .nav {
        right: 15px;
    }
    .arrow {
        bottom: 378px;
        left: 47%;
    }
}