#darkbackground {
    background: #2B322B;
}

#positionHeaderHome {
    position: fixed;
    top: 29px;
    width: 80%;
    margin-left: 10%;
    border-radius: 5px 5px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#positionFooterHome {
    position: fixed;
    bottom: 0;
}

.boxIdentity {
    display: flex;
    justify-content: center;
}

.containerPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: #f3f3f33b;
    z-index: 0;
}

.arrow,
.arrowUp {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    bottom: 100px;
    left: 90%;
}

.arrowUp {
    margin-bottom: 110px;
}

.upPageProjects {
    width: 100%;
    height: 130px;
}

.nav {
    position: fixed;
    right: 12%;
    top: 41px;
    width: 27%;
    height: 70px;
}

.navProject {
    position: fixed;
    right: 25px;
    top: 14px;
    width: 35%;
    height: 70px;
}

#default {
    color: #ffffffd4;
}

#scrolled {
    color: #0d120e;
}


/* media queries pour tablette  */

@media (max-width: 1180px) {
    .arrow {
        bottom: 32px;
        left: 90%;
        width: 50px;
        height: 50px;
    }
    .arrowUp {
        margin-bottom: 50px;
    }
    #positionFooterHome {
        position: inherit;
    }
}


/* media queries pour mobile  */

@media (max-width: 849px) {
    .upPageProjects {
        height: 30px;
    }
    .arrow {
        left: 90%;
    }
    .arrowUp {
        margin-bottom: 20px;
    }
    .arrow,
    .arrowUp {
        width: 45px;
        height: 45px;
    }
    #positionHeaderHome {
        width: 90%;
        margin-left: 5%;
    }
    .nav {
        top: 55px;
        right: 7%;
        width: 35%;
    }
    .navProject {
        position: fixed;
        right: 25px;
        top: 28px;
        width: 40%;
        height: 70px;
    }
    #positionFooterHome {
        position: initial;
    }
}


/* media queries small resolution Menu Burger */

@media (max-width: 690px) {
    .nav,
    .navProject {
        display: none;
    }
}


/* media queries small resolution (phone) */

@media (max-width: 410px) {
    #positionHeaderHome {
        width: 92%;
        margin-left: 4%;
    }
}