.identity {
    position: absolute;
    width: 912px;
    height: 380px;
    top: 250px;
    background-color: #444c4447;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.portrait {
    width: 237px;
    height: 237px;
    border-radius: 50%;
    filter: grayscale(0.7);
}

.presentation {
    height: 299px;
    width: 569px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.dot {
    height: 12px;
    width: 12px;
}

.bienvenu {
    font: 400 20px 'Roboto', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 300px;
}

.paragraphePresentation,
.learnMore {
    font: 100 18px 'Roboto', serif;
    color: #ffffff;
    line-height: 1.3;
}

.learnMore {
    display: block;
    text-decoration: underline;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}


/* media queries pour tablette (basé sur ipad air) */

@media (max-width: 1180px) {
    .identity {
        align-items: center;
        background-color: #444c4447;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        height: 418px;
        justify-content: flex-end;
        position: absolute;
        top: 280px;
        width: 85%;
    }
    .portrait {
        margin-left: 405px;
        height: 175px;
        width: 180px;
    }
    .presentation {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 299px;
        justify-content: space-evenly;
        margin: 0;
        width: 569px;
    }
    .learnMore {
        cursor: pointer;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        text-decoration: underline;
        width: fit-content;
    }
    .arrow {
        bottom: 395px;
        left: 46%;
        position: absolute;
    }
}