.containerName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 120px;
    opacity: 80%;
}

.name {
    height: 48px;
    color: #f5f5f5;
    font: 500 53px 'Allura', cursive;
    letter-spacing: 2pt;
}

.job {
    color: #ffffff;
    /* color: black; */
    font: 400 26px 'Baskervville', serif;
    padding-left: 220px;
}