nav,
ul {
    width: 100%;
    height: 70px;
}

ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 46px;
    justify-content: space-evenly;
}

li {
    color: #ffffff;
    font: 400 18px 'Roboto', sans-serif;
    list-style-type: none;
    cursor: pointer;
}


/* media queries pour tablette (basé sur ipad air) */

@media screen and (min-width: 850px) and (max-width: 1180px) {
    /* ul {
        align-items: flex-end;
        gap: 10px;
        height: 25px;
        justify-content: flex-end;
    } */
    li {
        font-size: 18px;
    }
}


/* media queries pour mobile (basé sur iphone 12 pro) */

@media (max-width: 849px) {
    .nav {
        position: initial;
        height: 35px;
        width: 50%;
        margin: auto;
    }
    ul {
        align-items: flex-end;
        gap: 10px;
        height: 25px;
        margin: auto;
        width: 50%;
        justify-content: flex-end;
    }
    li {
        font-size: 15px;
    }
}