.nameProject {
    height: 48px;
    color: #f5f5f5;
    font: 500 53px 'Allura', cursive;
    letter-spacing: 2pt;
}

.jobproject {
    font: 400 26px 'Baskervville', serif;
    padding-left: 220px;
    color: #314035;
}


/* .containerFooterScroll {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 70px;
    width: 99%;
    opacity: 60%;
} */

.insidePageProject {
    display: flex;
    flex-direction: column;
}