.bannerAnimation {
  width: 100%;
  height: 90px;
  background: #00241d;
  overflow: hidden;
  position: relative;

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}
