.sectionLayout {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__text {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__tag {
    font-size: 12px;
    text-transform: uppercase;
    color: #118856;
    letter-spacing: 0.1em;
  }

  &__title {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
  }

  &__description {
    margin: 0;
    font-size: 14px;
    line-height: 1.25;
    color: #9bb0a8;
  }

  &__content {
    display: flex;
    gap: 24px;
  }
}
