.clickableCard {
  min-width: 260px;
  padding: 24px;
  border-radius: 8px;
  width: fit-content;
  height: 100%;
  background-color: #00241d;
  border: 1px solid #1d353080;
  transition:
    transform 0.3s cubic-bezier(0, 0, 0.2, 1),
    box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1);

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 4px;

    &__text {
      &__title {
        margin: 0;
        color: #edf1ea;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5rem;

        &:hover {
          color: #e8edde;
        }
      }

      &__subtitle {
        color: #118856;
        font-size: 12px;
        line-height: 1rem;
      }
    }

    &__date {
      color: #9bb0a8;
      font-size: 12px;
      line-height: 1rem;
    }
  }

  &__description {
    color: #9bb0a8;
    font-size: 14px;
    line-height: 1.625rem;
  }
}

.clickableCard:hover .clickableCard__header__text__title {
  color: #118856;
}
