.positionHeaderProject {
    position: static;
}

.navFooter {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 70px;
}

.insidePageProject {
    display: flex;
    flex-direction: column;
}


/* media queries pour tablette (basé sur ipad air) */

@media (max-width: 1180px) {
    .navFooter {
        right: 15px;
    }
}